# Estadísticas

In [184]:
%matplotlib inline
import pandas as pd

USD_IN_COP = 3352 # Feb 19. Source xe.com

col_language = '¿En cuál de los siguientes lenguajes de programación ocupa la mayoría de su tiempo laboral?'
col_raw_salary = '¿Cuanto es su salario ANUAL?'
col_currency = '¿A usted le pagan en pesos colombianos (COP) o dólares (USD)?'
data = pd.read_csv("normalized.csv")

In [185]:
col_salary = 'salary_normalized'

# Normalize salaries to pesos
def normalize_salaries(row):
    sal = row[col_raw_salary]
    if row[col_currency] == 'dolares':
        sal = sal * USD_IN_COP
    return sal // 12

data[col_salary] = data.apply(normalize_salaries, axis=1)
data = data[data[col_salary] < 100000000] # Remove salaries greater than USD 500K
data = data[data[col_salary] > 500000]  # Remove salaries smaller than USD 10K

## Top 10 lenguajes usados:

In [186]:
(data.groupby(col_language)[col_salary]
     .agg(['count'])
     .sort_values(by='count', ascending=False)
     .head(10))

                                                    count
¿En cuál de los siguientes lenguajes de program...
Java                                                  270
JavaScript                                            195
PHP                                                   184
C#                                                    184
HTML/CSS                                               51
Ruby                                                   48
Python                                                 33
Objective-C                                            17
PL/SQL                                                 11
Scala                                                   9

## Top 10 lenguajes ordenados por salario promedio

In [187]:
(data.groupby(col_language)[col_salary]
     .agg(['mean', 'count'])
     .sort_values(by='count', ascending=False)
     .head(10)
     .sort_values(by='mean', ascending=False))

                                                       mean  count
¿En cuál de los siguientes lenguajes de program...
Ruby                                                9912932     48
Objective-C                                         6612778     17
Python                                              4923015     33
JavaScript                                          4886245    195
Java                                                4136940    270
C#                                                  3971098    184
PHP                                                 3005941    184
Scala                                               2987777      9
PL/SQL                                              2580030     11
HTML/CSS                                            2330065     51

## Top 10 lenguajes ordenados por salarios sólo en pesos

In [191]:
(data[data[col_currency] == 'pesos']
     .groupby(col_language)[col_salary]
     .agg(['mean', 'count'])
     .sort_values(by='count', ascending=False)
     .head(10)
     .sort_values(by='mean', ascending=False))

                                                       mean  count
¿En cuál de los siguientes lenguajes de program...
Ruby                                                4765572     30
Cobol                                               4563333      9
Objective-C                                         4292802     11
Java                                                3899920    264
C#                                                  3839897    178
JavaScript                                          3191243    165
Python                                              2988839     28
PHP                                                 2667373    175
PL/SQL                                              2580030     11
HTML/CSS                                            2136113     47

In [189]:
data[data[col_currency] == 'pesos'][[col_raw_salary]].sort_values(by=col_raw_salary)

      ¿Cuanto es su salario ANUAL?
377                        6500000
501                        7000000
1014                       7000000
918                        7000000
905                        7200000
777                        7732200
607                        7734000
1050                       8000000
504                        8000000
1055                       8100000
977                        8256000
969                        8280000
914                        8400000
865                        8400000
886                        8400000
837                        8600000
850                        8600000
166                        8616000
968                        8760000
1205                       9000000
893                        9000000
707                        9000000
386                        9000000
811                        9000000
849                        9140000
248                        9300000
870                        9600000
617                        9600000
666                        9600000
441                        9600000
...                            ...
1083                     108000000
241                      108000000
838                      108000000
635                      110000000
726                      110000000
321                      110000000
89                       110400000
648                      113400000
1                        117600000
557                      120000000
1134                     120000000
412                      120000000
95                       120000000
1240                     120000000
1072                     124000000
205                      126000000
831                      126000000
253                      132000000
789                      132000000
760                      140000000
1091                     144000000
77                       150000000
641                      150000000
1151                     150000000
494                      160000000
507                      162000000
1034                     168000000
413                      200000000
523                      218000000
1276                     264000000

[1031 rows x 1 columns]