# Estadísticas

In [101]:
%matplotlib inline
import pandas as pd

USD_IN_COP = 3352 # Feb 19. Source xe.com

col_language = '¿En cuál de los siguientes lenguajes de programación ocupa la mayoría de su tiempo laboral?'
col_raw_salary = '¿Cuanto es su salario ANUAL?'
col_currency = '¿A usted le pagan en pesos colombianos (COP) o dólares (USD)?'
data = pd.read_csv("normalized.csv")

In [102]:
col_salary = 'salary_normalized'

# Normalize salaries to pesos
def normalize_salaries(row):
    sal = row[col_raw_salary]
    if row[col_currency] == 'dolares':
        sal = sal * USD_IN_COP
    return sal // 12

data[col_salary] = data.apply(normalize_salaries, axis=1)

## Top 10 lenguajes usados:

In [103]:
(data.groupby(col_language)[col_salary]
     .agg(['count'])
     .sort_values(by='count', ascending=False)
     .head(10))

                                                    count
¿En cuál de los siguientes lenguajes de program...
Java                                                  314
JavaScript                                            228
PHP                                                   220
C#                                                    200
HTML/CSS                                               62
Ruby                                                   52
Python                                                 36
Objective-C                                            18
PL/SQL                                                 11
Cobol                                                  11

## Top 10 lenguajes ordenados por salario promedio

In [104]:
(data.groupby(col_language)[col_salary]
     .agg(['mean', 'count'])
     .sort_values(by='count', ascending=False)
     .head(10)
     .sort_values(by='mean', ascending=False))

                                                         mean  count
¿En cuál de los siguientes lenguajes de program...
HTML/CSS                                            249740471     62
JavaScript                                          183079976    228
PHP                                                 170143116    220
Ruby                                                  9168748     52
Objective-C                                           6254660     18
Python                                                4525888     36
Cobol                                                 3779393     11
C#                                                    3668140    200
Java                                                  3590368    314
PL/SQL                                                2580030     11

## Top 10 lenguajes ordenados por salarios sólo en pesos

In [108]:
(data[data[col_currency] == 'pesos']
     .groupby(col_language)[col_salary]
     .agg(['mean', 'count'])
     .sort_values(by='count', ascending=False)
     .head(10)
     .sort_values(by='mean', ascending=False))

                                                       mean  count
¿En cuál de los siguientes lenguajes de program...
Ruby                                                4232980     34
Objective-C                                         3948958     12
Cobol                                               3779393     11
C#                                                  3538389    194
Java                                                3376560    308
JavaScript                                          2785739    191
Python                                              2714838     31
PL/SQL                                              2580030     11
PHP                                                 2274917    208
HTML/CSS                                            1816943     56