# Estadísticas

In [10]:
%matplotlib inline
import pandas as pd

col_language = '¿En cuál de los siguientes lenguajes de programación ocupa la mayoría de su tiempo laboral?'
col_salary = '¿Cuanto es su salario ANUAL?'
data = pd.read_csv("normalized.csv")
by_language = data.groupby(col_language)

## Top 10 lenguajes usados:

In [38]:
(by_language[col_salary]
     .agg(['count'])
     .sort_values(by='count', ascending=False)
     .head(10))

                                                    count
¿En cuál de los siguientes lenguajes de program...
Java                                                  314
JavaScript                                            228
PHP                                                   220
C#                                                    200
HTML/CSS                                               62
Ruby                                                   52
Python                                                 36
Objective-C                                            18
PL/SQL                                                 11
Cobol                                                  11

## Top 10 lenguajes ordenados por salario promedio

In [39]:
(by_language[col_salary]
     .agg(['mean', 'count'])
     .sort_values(by='count', ascending=False)
     .head(10)
     .sort_values(by='mean', ascending=False))

                                                        mean  count
¿En cuál de los siguientes lenguajes de program...
Cobol                                               45352727     11
C#                                                  41187697    200
Java                                                39745487    314
Ruby                                                33235530     52
Objective-C                                         31604633     18
PL/SQL                                              30960363     11
JavaScript                                          28651076    228
Python                                              28061166     36
PHP                                                 26411375    220
HTML/CSS                                            20581506     62