# Estadísticas

In [162]:
%matplotlib inline
import pandas as pd

USD_IN_COP = 3352 # Feb 19. Source xe.com

col_language = '¿En cuál de los siguientes lenguajes de programación ocupa la mayoría de su tiempo laboral?'
col_raw_salary = '¿Cuanto es su salario ANUAL?'
col_currency = '¿A usted le pagan en pesos colombianos (COP) o dólares (USD)?'
data = pd.read_csv("normalized.csv")

In [163]:
col_salary = 'salary_normalized'

# Normalize salaries to pesos
def normalize_salaries(row):
    sal = row[col_raw_salary]
    if row[col_currency] == 'dolares':
        sal = sal * USD_IN_COP
    return sal // 12

data[col_salary] = data.apply(normalize_salaries, axis=1)

# Extremely high (gt USD 25M+) and low (lt USD 10K) salaries.
data.drop([468, 306, 1114, 274, 926, 489, 357, 826,
           911, 933, 553, 567, 403, 220, 15, 796, 776, 252, 741, 124, 978, 318], inplace=True)

## Top 10 lenguajes usados:

In [164]:
(data.groupby(col_language)[col_salary]
     .agg(['count'])
     .sort_values(by='count', ascending=False)
     .head(10))

                                                    count
¿En cuál de los siguientes lenguajes de program...
Java                                                  313
JavaScript                                            218
PHP                                                   216
C#                                                    199
HTML/CSS                                               59
Ruby                                                   52
Python                                                 36
Objective-C                                            17
PL/SQL                                                 11
Cobol                                                  11

## Top 10 lenguajes ordenados por salario promedio

In [165]:
(data.groupby(col_language)[col_salary]
     .agg(['mean', 'count'])
     .sort_values(by='count', ascending=False)
     .head(10)
     .sort_values(by='mean', ascending=False))

                                                       mean  count
¿En cuál de los siguientes lenguajes de program...
Ruby                                                9168748     52
Objective-C                                         6468127     17
Python                                              4525888     36
JavaScript                                          4375548    218
Cobol                                               3779393     11
C#                                                  3683063    199
Java                                                3592915    313
PHP                                                 2581675    216
PL/SQL                                              2580030     11
HTML/CSS                                            2027562     59

## Top 10 lenguajes ordenados por salarios sólo en pesos

In [166]:
(data[data[col_currency] == 'pesos']
     .groupby(col_language)[col_salary]
     .agg(['mean', 'count'])
     .sort_values(by='count', ascending=False)
     .head(10)
     .sort_values(by='mean', ascending=False))

                                                       mean  count
¿En cuál de los siguientes lenguajes de program...
Ruby                                                4232980     34
Objective-C                                         3948958     12
Cobol                                               3779393     11
C#                                                  3538389    194
Java                                                3376560    308
JavaScript                                          2785739    191
Python                                              2714838     31
PL/SQL                                              2580030     11
PHP                                                 2274917    208
HTML/CSS                                            1816943     56

In [167]:
data[data[col_currency] == 'dolares'][[col_raw_salary]].sort_values(by=col_raw_salary)

      ¿Cuanto es su salario ANUAL?
1048                         10404
550                          12000
1041                         12000
456                          15000
1279                         15000
655                          17000
24                           18000
406                          20000
1158                         20000
399                          21600
37                           21600
1278                         24000
175                          24000
486                          24000
164                          24000
1211                         25000
927                          25000
33                           26000
1233                         28000
867                          28800
540                          28900
572                          30000
442                          30000
1081                         30000
27                           33000
879                          34000
35                           36000
68                           36000
278                          38400
338                          40000
...                            ...
771                          60000
296                          60000
265                          60000
14                           60000
143                          60000
332                          63360
578                          65000
63                           65000
208                          67200
309                          70000
52                           70000
445                          78000
524                          80000
1148                         80000
190                          80800
0                            81600
730                          84000
65                           85000
768                          95000
100                          95000
78                           96000
1288                         96000
326                         108000
254                         108000
2                           108000
819                         115000
422                         120000
4                           120000
1268                        130000
5                           130000

[83 rows x 1 columns]